# Macintosh files
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
Icon?

# Files that might appear on external disk
.Spotlight-V100
.Trashes

iCloud
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Projects/
.ssh
.bash_history
.DS_Store
.Trash/
.CFUserTextEncoding
.dropbox/
.keepassx/
.lesshst
.viminfo
