# Macintosh files
.DS_Store?
Icon?

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# IDE files
.idea
nbproject

Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
development/
.ssh
.bash_history
.DS_Store
.Trash/
.CFUserTextEncoding
.dropbox/
.keepassx/
.lesshst
.viminfo

